
:root {
    --neon-green: #00ff40;
    --text-color: #e6fff2;
    --text-muted: #9bcbb0;
    --mint: #a8ffb191;
    --dark-green: #021300;
    --h-n-b-t: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--h-n-b-t);
    background-color: var(--dark-green);
    color: var(--text-color);
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Image style for small screens */
img {
    max-width: 100%;
    height: auto;
    display: block;
}


            /* Navigation */

nav {
    width: 100%;
    padding: 1rem 5%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    margin-bottom: 2em;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--neon-green);
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(216, 243, 222);
    transition: 0.3s;
}

.nav-links li a:hover {
    color: var(--neon-green);
    text-shadow: 0 0 10px var(--neon-green);
}

.btns {
    display: flex;
}

.btn  {
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    background: var(--neon-green);
    color: #021300;
    /* box-shadow: 0 0 15px var(--neon-green); */
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(26, 95, 6, 0.5);
    color: var(--neon-green);
    
}


/* Mobile Navigations */

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    
    display: none;
}

@media (max-width: 768px) {
    .nav-links li a:hover {
    color: rgb(216, 243, 222);
    text-shadow: none;
}
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        z-index: 5;
        position: fixed;
        top: 0;
        right: -100%;
        width: 90vw;
        height: 100vh;
        background-color: rgba(2, 19, 0, 0.98);
        backdrop-filter: blur(15px);
        box-shadow: -5px 0 5px rgba(2, 19, 0, 0.25);
        padding: 1.5rem;
        transition: right 0.5s ease;
    }

    .btns {
        display: none;
    }

    nav li {
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav li:hover {
        background-color: #01310d85;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
        padding: 20px;
    }
    #sidebar-active:checked ~ .nav-links {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        background-color: red;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
    }
}


            /* Home | Hero Section */

.home {
    padding-top: 10rem;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    margin-bottom: 1rem;
    min-height: 100svh;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}

@media (max-width: 768px) {
    .two-column {
    display: grid;
    grid-template-columns:  1fr;

}
}

.triple-row {
    padding-left: min(3rem, 5%);
}

@media (max-width: 768px) {
    .triple-row {
        padding-left: 0;
    }
}

.triple-row .main-headings h1 {
     font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

.triple-row .main-headings h1:nth-child(2) {
    color: var(--neon-green);
}

.triple-row .paragraph {
    padding-block: 1.5rem;
     margin-bottom: 1rem;
}

.triple-row .paragraph p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3;
}

.home-btn {
    width: 100%;
}

.home-btn a {
   
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    border-radius: 10px;
    font-weight: 600;
    background-color: #00ff406e;
    border: 1px solid #00ff41;
    box-shadow: 0 0 5px var(--neon-green);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s;
}

.home-btn a:hover {
          background-color: #00ff41;
          border: none;
          color: #021300;
}

.home-btn a:nth-child(1) {
          background-color: #00ff41;
          border: none;
          color: #021300;
}

.home-btn a:nth-child(1):hover {
          background-color: #00ff406e;
          border: 1px solid #00ff41;
          color: var(--text-color);
}





.tools {
    max-width:  90%;
      border-radius: 5px;
    /* padding-left: min(4rem, 5%); */
    padding-block: 5rem;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .tools {
        padding-block: 0;
    }
}

.tools img {
    width: 100%;
    border-radius: 5px;
    
}

section {
    min-height: auto;
    padding-block: 1rem; 
}

section.service {
    /* padding-block: 5rem;
    max-width: 90%;
    margin: auto;
    scroll-margin-top: 50px;
    padding-inline: 1rem; */
    padding-block: 2rem;
    max-width: 90%;
    margin: auto;
    scroll-margin-top: 90px;
    padding-inline: 1rem;
}

section p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2rem;
    color: gray;
}

section h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.service-cards, .portfolio-cards, .contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .service-cards, .portfolio-cards, .contacts {
    grid-template-columns:  1fr;    
}
}

.service-cards .card {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid #002c0b;
    padding: 2rem;
    border-radius: 10px;
    transition: 0.3s;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--neon-green);
}

.service-cards .card ul {
    margin-block: 1rem;
}

.service-cards .card ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-muted);
    color: gray;
}

.card a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    /* font-weight: 600; */
    font-size: 1rem;
    width: 100%;
    text-align: center;
    color: #00f03c;
    background-color:  #00ff403f;
    /* box-shadow: 0 0 5px var(--neon-green); */
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

span {
    color: var(--neon-green);
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #00ff41;
    
    transform: scale(1.009);
}

.portfolio {
    padding-block: 2rem;
    max-width: 90%;
    margin: auto;
    scroll-margin-top: 90px;
    padding-inline: 1rem;
}



.portfolio-cards .card {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid #002c0b;
    padding: 2rem;
    border-radius: 10px;
    transition: 0.3s;
}

.portfolio-cards .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.portfolio-cards .card h3 {
    font-size: 1.5rem;
    
    margin-bottom: 1rem;
    color: var(--text-color);
}

.portfolio-cards .card h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--neon-green);
}

.about {
    padding-block: 2rem;
    max-width: 90%;
    margin: auto;
    scroll-margin-top: 90px;
    padding-inline: 1rem;
}

.ab-values {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.ab-values .card {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid #002c0b;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about > h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-block: 1rem;
    color: var(--text-color);
    text-align: center;
}

.ab-values svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.4rem;
    background-color: #002c0b;
    fill: var(--neon-green);
    margin-bottom: 1rem;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-block: 3rem;
    place-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid var(--neon-green);
}

.profile h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.profile h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--neon-green);
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-block: 3rem;
}

.step {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    text-align: left;
}

.icon {
    font-size: 1.8rem;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--neon-green);
    color: var(--neon-green);
    cursor: pointer;
}

.step h3 {
     margin: 0 0 8px;
     font-size: 1.1rem;
     color: var(--text-color);
}

.step p {
    margin: 0;
    font-size: 0.98rem;
    color: var(--text-muted);
}

.step svg {
    width: 24px;
    height: 24px;
    fill: var(--neon-green);
}

.contact {
    padding-block: 2rem;
    max-width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    scroll-margin-top: 40px;
    padding-inline: 1rem;
    text-align: left;
}



.descriptive-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 2rem;
    align-items: flex-start;
}

.descriptive-contact a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    color: #00f03c;
    background-color:  #00ff403f;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    max-width: 600px;
    margin-top: 2rem;
}

form input, form textarea {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #00ff41;
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--h-n-b-t);
    resize: vertical;
}

form textarea {
    height: 150px;
    margin-bottom: 1rem;
}

form input::placeholder, form textarea::placeholder {
    color: var(--text-muted);
}

form button {
    
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #00ff41;
    border: none;
    color: #021300;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 500;
}

form select {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--neon-green);
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--h-n-b-t);
}

form option {
    background-color: #021300;
    color: var(--text-color);
}

form option:hover {
    background-color: var(--neon-green);
    color: #021300;
}

form button:hover {
    background-color: rgba(26, 95, 6, 0.5);
    color: var(--neon-green);
    
}

footer {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-top: 1px solid #002c0b;
    padding: 1rem 5%;
    text-align: center;
    color: var(--text-muted);
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

footer p {
    margin: 0.2rem 0;
}





